
/* Nav media tuloops end */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
	
}
  .carousel {
	height : auto;
}

html{
    font-size: 10px;
	font-family: 'Catamaran', sans-serif;
}
body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}
a{
    display: block;
    text-decoration: none;
}

.navcontainer {
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}

header{
    position:fixed;
    top:0;  
    z-index: 1400;
    width: 100%;
    height: 4.8rem;
    background-color:rgba(0,0,0, 0.8);
    backdrop-filter: blur(2rem);
}
.navg-list{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}

.navg-list-mobile{
    display: none;
}

.navcontainer .navg-item .navg-link{
    font-size: 1.7rem;
    color: #fff;
    padding: 0 1rem;
    transition: opacity .5s;
}

.navcontainer .navg-item .navg-link:hover{
    opacity: .7;
	text-decoration:none;
}
 /*This is for the image of the apple logo*/
.navg-link-apple{
width: 3.4rem;
height: 4.4rem;
background: url("../images/ConnectUSlogo.png") center no-repeat;
background-size: 32px;
/*url*/
}

.navg-list-larger .navg-item a.active{
	font-size:20px;
	color: #0080ff;
}

@media screen and (max-width: 767px){                                   /*responsive header */
    header{
        height: 4.8rem;
        transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1),
                    height .56s cubic-bezier(0.32, 0.08, 0.24, 1);

    }

header .navcontainer{
    padding: 0;
}
.navg-list{
    margin-top: 0;
}

.navg-list-mobile{
    display: flex;
}
.navg-item{
    width:4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;

}

.navg-item-hidden{
    display: none;
}

.mobil-menu{
    position: relative;
    z-index: 1500;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
    cursor: pointer;

}

.linee{
    position:absolute;
    width: 1.7rem;
    height: 1px;
    background-color: #fff; 
    transition: margin-top .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.linee-top{
    margin-top: 3px;
}

.linee-bottom{
    margin-top: -.4rem;
}

.active .linee-top{
    margin-top: 0;
    transform: rotate(45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.active .linee-bottom{
    margin-top: 0;
    transform: rotate(-45deg);
    transition: transform .3192s .1s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

header.active{
    height: 100%;
    background-color: #000;
}
.navg-link-apple{
    width: 3.4rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
}

.navg-link{
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
}
.navg-list-larger{
    position: fixed;
    top:0;
    left: 0;
    width: 0;
    height: 0;
    opacity:0;
    display: block;
    visibility: hidden;
    padding: 10.5rem 5rem;
    z-index: 1000;
    box-sizing: border-box;
    transition: opacity 0.3s;
}

.active .navg-list-larger{
     width: 100%;
     height: 100vh;
     opacity: 1;
     visibility: visible;
}

.navg-list-larger .navg-item{
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.navg-list-larger .navg-item:nth-child(4){
    border-bottom: none;
}
.active .navg-list-larger .navg-item{
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }    
    to{
        opacity: 1;
    }
}
}


/* Footer */

footer{
  background-color:#181818;
  padding: 40px 0;

}

.footer-container{
	
  max-width: 1450px;
  padding: 0 20px;
}


.logo{ /* put the correct transition and opacity by cross referencing to the original code*/
    width: 40px;
    transition: .5s;
    
 }
.logo:hover{
    opacity: 0.7;
}

.Social-menu{
	margin-top:50px;
}

.Social-menu ul {
    position: absolute;
    margin-top: 20px;	
    left:48%;
    display: flex; 
    transform: translate(-50%, -50%);
    padding: 0;
    
   
}
.Social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.Social-menu ul li .fab {
    color: black;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.Social-menu ul li .fab:hover {
    color: white;
}
.Social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.Social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.Social-menu ul li:nth-child(1) a:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    
}

.Social-menu ul li:nth-child(2) a:hover {
    background-color: #0077B5;
}

.rights-text{
    text-align: center;
    font-size: medium;
    color: white;
    padding-top: 60px;
    font-size: 15px;
}

@media screen and (max-width:960px) {     /*responsive new footer*/
 
  }
  
 
  
  
  
  
  

                                                            /* web view */
 
.car1, .plx1 , .plx2, .plx3 , .plx4 , .plx5, .plx6, .plx7, .plx8, .plx9, .plx10, .plx11, .plx12 , .foot{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
  }


.car1{
	width:100%;
	height:100vh;
}

.plx1
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/ConnectFEED.jpg"); 
	
}

.plx2 {
   	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
    background-image: url("../webjpg/TKen.jpg"); 
    
}

.plx3
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/TQ.jpg"); 
	
}
.plx4
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/jobroom.jpg"); 
	
}

.plx5 {
   	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
    background-image: url("../webjpg/Sherlock.jpg"); 
    
}

.plx6
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/AC.jpg"); 
	
}
.plx7
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/Poll.jpg"); 
	
}

.plx8 {
   	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
    background-image: url("../webjpg/LecBank.jpg"); 
    
}

.plx9
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/Event.jpg"); 
	
}
.plx10
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/FeedBack.jpg"); 
	
}

.plx11 {
   	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
    background-image: url("../webjpg/ChatRoom.jpg"); 
    
}

.plx12
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../webjpg/Profile.jpg"); 
	
}

.foot{

	height:100vh;
	width:100%;
	
 }
	


	
@media only screen and (max-width: 768px)          /* mobile mode */
 {
	 
     .plx1 , .plx2, .plx3 , .plx4 , .plx5, .plx6, .plx7, .plx8, .plx9, .plx10, .plx11, .plx12 , .foot,
	 .plx1a , .plx2a, .plx3a , .plx4a , .plx5a, .plx6a, .plx7a, .plx8a, .plx9a, .plx10a, .plx11a, .plx12a , .plx13a
  {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .car1{
	  display:none;
  }
  .plx1{
	  height:100vh;
	width:100%;
	background-image: url("../images/student1.jpg");
	
}
.plx2
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/ConnectFEED1.jpg");
	
}
.plx3
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/ConnectFEED2.jpg"); 
	
}
.plx4 {
   	height:100vh;
	width:100%;
	 
	background-color:#181818;
    background-image: url("../respjpg/TKen1.jpg"); 
    
}
.plx5
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/TKen2.jpg"); 
	
}
.plx6
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/TQ1.jpg"); 
	
}

.plx7
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/TQ2.jpg"); 
	
}

.plx8
{
	height:100vh;
	width:100%;
 
	background-color:#181818;
	background-image: url("../respjpg/JobRoom1.jpg"); 
	
}

.plx9
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/JobRoom2.jpg"); 
	
}

.plx10 {
   	height:100vh;
	width:100%;
	 
	background-color:#181818;
    background-image: url("../respjpg/Sherlock1.jpg"); 
    
}

.plx11
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Sherlock2.jpg"); 
	
}

.plx12
{
	height:100vh;
	width:100%;

	background-color:#181818;
	background-image: url("../respjpg/AC1.jpg"); 
	
}

.plx1a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/AC2.jpg"); 
	
}

.plx2a
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/Poll1.jpg"); 
	
}

.plx3a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Poll2.jpg"); 
	
}

.plx4a{
   	height:100vh;
	width:100%;

	background-color:#181818;
    background-image: url("../respjpg/LecBank1.jpg"); 
    
}

.plx5a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/LecBank2.jpg"); 
	
}

.plx6a
{
	height:100vh;
	width:100%;

	background-color:#181818;
	background-image: url("../respjpg/Event1.jpg"); 
	
}

.plx7a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Event2.jpg"); 
	
}

.plx8a
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/Feedback1.jpg"); 
	
}

.plx9a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/FeedBack2.jpg"); 
	
}

.plx10a {
   	height:100vh;
	width:100%;
 
	background-color:#181818;
    background-image: url("../respjpg/ChatRoom1.jpg"); 
    
}

.plx11a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/ChatRoom2.jpg"); 
	
}

.plx12a
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/Profile1.jpg"); 
	
}

.plx13a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Profile2.jpg"); 
	
}
.foot{

	height:100vh;
	width:100%;
	
	}

	.c-scroll-icon {
		width: 21px;
		height: 100px;
		transform: translate3d(-50%, 0%, 0);
		position: absolute;
		left: 50%;
		bottom: 80px;
		backface-visibility: hidden;
	 	margin-bottom: 20px;
	 }
		.c-scroll-icon-line-mask {
		  position: relative;
		  overflow: hidden;
		  width: 21px;
		  height: 100px;
		  margin: 0 auto;
		}
		.c-scroll-icon-line {
		  position: absolute;
		  display: inline-block;
		  width: 1px;
		  height: 150px;
		  border-left: 1px solid #e1e1e1;
		  top: -150px;
		  left: 10px;
		  animation: scroll-line 3s infinite;
		  transition: all cubic-bezier(0.785, 0.135, 0.15, 0.86);
		}
		
		
		
		@keyframes scroll-line {
		  0% {
			  transform: translate3d(0, 0, 0)
		  }
		  40% {
			  transform: translate3d(0, 185px, 0)
		  }
		  75% {
			  transform: translate3d(0, 175px, 0)
		  }
		  100% {
			  transform: translate3d(0, 280px, 0)
		  }
		}
		
		.c-scroll-icon-triangle {
		  position: relative;
		  width: 20px;
		  height: 30px;
		  margin: -10px auto 0;
		  animation: triangle-bounce 3s infinite;
		}
		
		.c-scroll-icon-triangle-mask {
		  position: absolute
		}
		
		.c-scroll-icon-triangle-mask.first {
		  width: 40px;
		  height: 5px;
		  right: 0;
		  overflow: hidden
		}
		
		.c-scroll-icon-triangle-mask.right {
		  width: 10px;
		  height: 30px;
		  overflow: hidden;
		  right: 0
		}
		
		.c-scroll-icon-triangle-mask.left {
		  width: 10px;
		  height: 30px;
		  overflow: hidden;
		  left: 1
		}
		
		.c-scroll-icon-triangle-mask.last {
		  width: 40px;
		  height: 5px;
		  overflow: hidden
		}
		
		.c-scroll-icon-triangle-line {
		  position: absolute
		}
		
		.c-scroll-icon-triangle-line.first {
		  border-bottom: 1px solid #e1e1e1;
		  width: 30px;
		  right: 0;
		  animation: triangle-first 3s infinite;
		  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86)
		}
		
		.c-scroll-icon-triangle-line.right {
		  border-left: 1px solid #e1e1e1;
		  height: 44px;
		  transform: rotate(-163deg);
		  right: 5px;
		  top: -6px;
		  animation: triangle-right 3s infinite;
		  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86)
		}
		
		.c-scroll-icon-triangle-line.left {
		  border-left: 1px solid #e1e1e1;
		  height: 40px;
		  transform: rotate(163deg);
		  left: 5px;
		  top: -3px;
		  animation: triangle-left 3s infinite;
		  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden
		}
		
		.c-scroll-icon-triangle-line.last {
		  border-bottom: 1px solid #e1e1e1;
		  width: 120px;
		  left: 0;
		  animation: triangle-last 3s infinite;
		  transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86)
		}
		
		@keyframes triangle-bounce {
		  0% {
			  transform: translate3d(0, -5px, 0)
		  }
		  50% {
			  transform: translate3d(0, 5px, 0)
		  }
		  100% {
			  transform: translate3d(0, -5px, 0)
		  }
		}
		
		@keyframes triangle-first {
		  0%,
		  20% {
			  transform: translate3d(-40px, 0, 0)
		  }
		  30%,
		  80% {
			  transform: translate3d(10px, 0, 0)
		  }
		  85%,
		  100% {
			  transform: translate3d(30px, 0, 0)
		  }
		}
		
		@keyframes triangle-right {
		  0%,
		  25% {
			  transform: rotate(-163deg) translate3d(0, 40px, 0)
		  }
		  40%,
		  84% {
			  transform: rotate(-163deg) translate3d(0, 0, 0)
		  }
		  90%,
		  100% {
			  transform: rotate(-163deg) translate3d(0, -37px, 0)
		  }
		}
		
		@keyframes triangle-left {
		  0%,
		  33% {
			  transform: rotate(163deg) translate3d(0, -34px, 0)
		  }
		  50%,
		  88% {
			  transform: rotate(163deg) translate3d(0, 0, 0)
		  }
		  95%,
		  100% {
			  transform: rotate(163deg) translate3d(0, 38px, 0)
		  }
		
		}
		  @keyframes triangle-last {
			0%,
			87.5% {
				transform: translate3d(-120px, 0, 0)
			}
			91% {
				transform: translate3d(-80px, 0, 0)
			}
			100% {
				transform: translate3d(45px, 0, 0)
			}
		}



}





@media only screen and (max-width: 780px){         /* tablet mode */
        
   .ban1 , .plx1 , .plx2, .plx3 , .plx4 , .plx5, .plx6, .plx7, .plx8, .plx9, .plx10, .plx11, .plx12 , .foot,
	 .plx1a , .plx2a, .plx3a , .plx4a , .plx5a, .plx6a, .plx7a, .plx8a, .plx9a, .plx10a, .plx11a, .plx12a , .plx13a
  {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .car1{
	  display:none;
  }
  .plx1{
	  height:100vh;
	width:100%;
	background-image: url("../images/student1.jpg");
}
.plx2
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/ConnectFEED1.jpg");
	
}
.plx3
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/ConnectFEED2.jpg"); 
	
}
.plx4 {
   	height:100vh;
	width:100%;
	 
	background-color:#181818;
    background-image: url("../respjpg/TKen1.jpg"); 
    
}
.plx5
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/TKen2.jpg"); 
	
}
.plx6
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/TQ1.jpg"); 
	
}

.plx7
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/TQ2.jpg"); 
	
}

.plx8
{
	height:100vh;
	width:100%;
 
	background-color:#181818;
	background-image: url("../respjpg/JobRoom1.jpg"); 
	
}

.plx9
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/JobRoom2.jpg"); 
	
}

.plx10 {
   	height:100vh;
	width:100%;
	 
	background-color:#181818;
    background-image: url("../respjpg/Sherlock1.jpg"); 
    
}

.plx11
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Sherlock2.jpg"); 
	
}

.plx12
{
	height:100vh;
	width:100%;

	background-color:#181818;
	background-image: url("../respjpg/AC1.jpg"); 
	
}

.plx1a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/AC2.jpg"); 
	
}

.plx2a
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/Poll1.jpg"); 
	
}

.plx3a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Poll2.jpg"); 
	
}

.plx4a{
   	height:100vh;
	width:100%;

	background-color:#181818;
    background-image: url("../respjpg/LecBank1.jpg"); 
    
}

.plx5a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/LecBank2.jpg"); 
	
}

.plx6a
{
	height:100vh;
	width:100%;

	background-color:#181818;
	background-image: url("../respjpg/Event1.jpg"); 
	
}

.plx7a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Event2.jpg"); 
	
}

.plx8a
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/Feedback1.jpg"); 
	
}

.plx9a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/FeedBack2.jpg"); 
	
}

.plx10a {
   	height:100vh;
	width:100%;
 
	background-color:#181818;
    background-image: url("../respjpg/ChatRoom1.jpg"); 
    
}

.plx11a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/ChatRoom2.jpg"); 
	
}

.plx12a
{
	height:100vh;
	width:100%;
	
	background-color:#181818;
	background-image: url("../respjpg/Profile1.jpg"); 
	
}

.plx13a
{
	height:100vh;
	width:100%;
	background-size: contain; 
	background-color:#181818;
	background-image: url("../respjpg/Profile2.jpg"); 
	
}
.foot{

	height:100vh;
	width:100%;
	
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }    
        to{
            opacity: 1;
        }
    }
}




 
